S3method(mc.est,CBData)
S3method(mc.est,CMData)
S3method(mc.est.raw,CMData)
S3method(mc.test.chisq,CBData)
S3method(mc.test.chisq,CMData)
S3method(unwrap,CBData)
S3method(unwrap,CMData)
export(CBData)
export(CMData)
export(GEE.trend.test)
export(NOSTASOT)
export(RS.trend.test)
export(SO.LRT)
export(SO.mc.est)
export(SO.trend.test)
export(betabin.pdf)
export(mc.est)
export(mc.test.chisq)
export(qpower.pdf)
export(ran.CBData)
export(read.CBData)
export(read.CMData)
export(soControl)
export(trend.test)
export(unwrap)
import(boot)
import(combinat)
useDynLib(CorrBin)
